@import (css) url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

body {
    background: @bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
}

@media @smartphone{
    body{
        background-color: white;
    }
}