@import (css) url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

body {
    background: @bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
}

input{
    height: 48px;
    width: 100%;
    border: 1px solid @dark-grey;
    border-radius: 8px;
    padding: 0 16px;
    margin: 8px 0;
    color: @dark-grey;
    
    &::placeholder{
        color: @dark-grey;
    }

    &:focus{
        outline: 0;
    }
}

.primary-button{
    background: @pink;
    font-weight: 600;
    color: @neutral;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
}

.secondary-button{
    background: @neutral;
    font-weight: 600;
    color: @pink;
    border: 1px solid @pink;
    border-radius: 8px;
    padding: 8px 32px;
}

@media @smartphone{
    body{
        background-color: white;
    }
}